@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS to hide all images except the first one */
.image-container .image-item {
    display: none;
    opacity: 0; /* Initial opacity set to 0 */
    transition: opacity 1s ease; /* Transition for opacity with 1-second duration */
}

.image-container .image-item:first-child {
    display: block;
    opacity: 1; /* Initial opacity set to 1 for the first image */
}
.user-text {
    display: none;
}
.user-text.active-text {
    display: block;
    animation: moveup 1s line forwards; 
}
.user-pic {
    transition: all 0.2s ease;
}
.user-pic.active-pic {
    border: 2px solid #002b00;
}
swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }
  swiper-container-3d swiper-slide-shadow-left,
  swiper-container-3d swiper-slide-shadow-right
   {
    background-image: none;
    
  }
  
  .box {
  --mask: linear-gradient(to top left, #0000 100px,#000 0); 
    
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

@keyframes moveup {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    50% {
        margin-top: 20px;
        opacity: 0.1;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}
.title {
    @apply text-3xl md:text-4xl font-bold leading-snug
}

